<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HeartCare AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <!-- NAVBAR -->
    <nav>
      <h2>💙 HeartCare AI</h2>
      <div>
        <a href="/">Home</a>
        <a href="/history">History</a>
        <a href="/about">About</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
       {% if messages %}
          <p style="color:green; text-align:center; margin-top:80px;">{{ messages[0] }}</p>
       {% endif %}
    {% endwith %}

    <!-- HOME -->
    <section id="home" class="home">
      <h1>Check Your Heart Health Risk</h1>
      {% if username %}
      <h3>Welcome, {{ username }}</h3>
      {% endif %}
      <p>
        Early detection saves lives. Answer a few simple questions to understand
        your risk.
      </p>
      <button onclick="scrollToForm()">Start Check</button>
    </section>

    <!-- FORM -->
    <section id="check" class="form-section">
      <h2>Heart Risk Assessment</h2>

      <form action="/predict" method="POST">
        <label>How old are you?</label>
        <input type="number" id="age"  name="age" required />

        <label>What is your gender?</label>
        <select id="sex" name="sex" required>
          <option value="" disabled selected>Select option</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>

        <label>Do you experience chest discomfort?</label>
        <select id="cp" name="cp" required>
          <option value="" disabled selected>Select option</option>
          <option value="0">No pain</option>
          <option value="1">Mild pain</option>
          <option value="2">Moderate pain</option>
          <option value="3">Severe pain</option>
        </select>

        <label>Do you have high blood pressure?</label>
        <select id="bp" name="bp" required>
          <option value="" disabled selected>Select option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>

        <label>Have you been told your cholesterol is high?</label>
        <select id="chol" name="chol" required>
          <option value="" disabled selected>Select option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>

        <label>Do you have high blood sugar (diabetes)?</label>
        <select id="fbs" name="fbs" required>
          <option value="" disabled selected>Select option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>

        <label>Do you often feel your heart beating very fast?</label>
        <select id="hr" name="hr" required>
          <option value="" disabled selected>Select option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>

        <label>Do you feel pain during physical activity?</label>
        <select id="exang" name="exang" required>
          <option value="" disabled selected>Select option</option>
          <option value="0">No</option>
          <option value="1">Yes</option>
        </select>

        <button type="submit">Check My Risk</button>
      </form>

     <div id="result">
     {% if prediction %}
    
     {% if prediction == "1" %}
      <p style="color:red; font-weight:bold;">
        ⚠️ High Risk of Heart Disease
      </p>
     {% elif prediction == "0" %}
      <p style="color:green; font-weight:bold;">
        ✅ Low Risk of Heart Disease
      </p>
     {% else %}
      <p style="color:orange;">
        ⚠ Something went wrong
      </p>
     {% endif %}

   {% endif %}
   </div>
    </section>
  </body>
</html>
